trigger:
- main

strategy:
  matrix:
    ubuntu-18.04:
      VM_IMAGE: 'ubuntu-18.04'
      OPERATING_SYSTEM: 'linux'
      CLANG_VERSION: '12'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'
    ubuntu-20.04:
      VM_IMAGE: 'ubuntu-20.04'
      OPERATING_SYSTEM: 'linux'
      CLANG_VERSION: '12'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'
    macOS-10.15:
      VM_IMAGE: 'macOS-10.15'
      OPERATING_SYSTEM: 'mac-os'
      CLANG_VERSION: '12'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'
    macOS-11:
      VM_IMAGE: 'macOS-11'
      OPERATING_SYSTEM: 'mac-os'
      CLANG_VERSION: '12'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'

pool:
  vmImage: $(VM_IMAGE)

steps:
- script: |
    curl -fLo llvm.sh https://apt.llvm.org/llvm.sh
    chmod +x ./llvm.sh
    sudo ./llvm.sh $(CLANG_VERSION)
    sudo apt install -y libc++-12-dev libc++abi-$(CLANG_VERSION)-dev libunwind-$(CLANG_VERSION)-dev
    sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-12 1200
  displayName: 'install (linux)'
  condition: eq(variables['OPERATING_SYSTEM'], 'linux')

- script: |
    brew install llvm@$(CLANG_VERSION) make
  displayName: 'install (mac)'
  condition: eq(variables['OPERATING_SYSTEM'], 'mac-os')

- script: |
    git clone https://github.com/eyalz800/zpp_throwing ../zpp_throwing
  displayName: 'dependencies'

- script: |
    make -C test -f zpp.mk -j
  displayName: 'compile-debug (linux)'
  condition: eq(variables['OPERATING_SYSTEM'], 'linux')

- script: |
    make -C test -f zpp.mk -j mode=release
  displayName: 'compile-release (linux)'
  condition: eq(variables['OPERATING_SYSTEM'], 'linux')

- script: |
    export PATH=/usr/local/opt/llvm/bin:$PATH
    gmake -C test -f zpp.mk -j
  displayName: 'compile-debug (mac)'
  condition: eq(variables['OPERATING_SYSTEM'], 'mac-os')

- script: |
    export PATH=/usr/local/opt/llvm/bin:$PATH
    gmake -C test -f zpp.mk -j mode=release
  displayName: 'compile-release (mac)'
  condition: eq(variables['OPERATING_SYSTEM'], 'mac-os')

- script: |
    ./test/out/debug/default/output
  displayName: 'test-debug'

- script: |
    ./test/out/release/default/output
  displayName: 'test-release'
